body {
  font-family: 'Arial', sans-serif;
  background-color: #fef7dc;
  scroll-behavior: smooth;
}
img {
  object-fit: cover;
  width: 100%;
}

.custom-navbar {
  background-color: #5D3A00; /* cokelat tua */
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: #fff !important; /* biar teks terlihat di background gelap */
}
